<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: html-head}">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <form th:method="post" class="form-change-password" th:action="@{~/member/support/password}">
            <div>
                <input type="password" id="password-old" name="password-old" placeholder="Current Password">
                <span class="text-danger" id="error-password" hidden>Wrong Password.</span>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="New Password">
                <input type="password" id="password-check" name="password-check" placeholder="Check Password">
                <span class="text-danger" id="error-password-check" hidden>New Password Error.</span>
            </div>
            <div>
                <button type="button" id="btn-change">Change</button>
                <button type="button" id="btn-cancel" th:onclick="|location.href='@{~/member/profile}'|">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            $('#btn-change').click(function() {
                validate();
            });
        });

        const regexp = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

        function validate() {
            let passwordOld = $('#password-old').val();
            let password = $('#password').val();
            let passwordCheck = $('#password-check').val();
            let hasError = false;

            if(!passwordOld) {
                $('#error-password').text('Blank Password not allowed.').removeAttr('hidden');
                hasError = true;
            }else {
                $.ajax({
                    type: 'post',
                    url: '/member/api/password',
                    data: JSON.stringify({
                        password: passwordOld
                    }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        if(response.isMatch) {
                            $('#error-password').attr('hidden');
                        }else {
                            $('#error-password').text('Invalid password. enter your correct password').removeAttr('hidden');
                            hasError = true;
                        }
                    },
                    error: function () {
                        console.log('Something Error occurred.');
                    }
                });
            }

            if(!password || !passwordCheck) {
                $('#error-password-check').text('Blank Password not allowed.').removeAttr('hidden');
                hasError = true;
            }else {
                if((password !== passwordCheck)) {
                    $('#error-password-check').text('Password does not match.').removeAttr('hidden');
                    hasError = true;
                }else {
                    if(!regexp.test(password)) {
                        $('#error-password-check').text('Password must Contain 8 or more, lowercase, uppercase, special characters.').removeAttr('hidden');
                        hasError = true;
                    }else {
                        $('#error-password-check').attr('hidden');
                    }
                }
            }

            if(!hasError) {
                $('.form-change-password').submit();
            }
        }
    </script>
</body>
</html>