<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: html-head}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="form-login" name="form-login" th:method="post" th:action="@{~/member/login}">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="username" placeholder="example@email.com">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>
                <span class="text-danger"></span>
            <div>
                <button type="button" id="btn-submit">Login</button>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            $('#btn-submit').click(function() {
                validate();
            });
        });

        function validate() {
            let email = $('#email').val()
            let password = $('#password').val();

            if(!email || !password) {
                $('.text-danger').text('Blank ID or Password.');
            }
            else {
                $.ajax({
                    type: 'post',
                    url: '/member/api/login',
                    data: JSON.stringify({
                        email: email,
                        password: password
                    }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        if(response.isValid) {
                            $('.form-login').submit();
                        }else {
                            $('.text-danger').text('Invalid ID or Password.');
                        }
                    },
                    error: function () {
                        $('.text-danger').text('Something Error Occurred.');
                    }
                });
            }
        }
    </script>
</body>
</html>