<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: html-head}">
    <title>Modify</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Modify Page</h1>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{~/member/help/password}">Change your Password</a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{~/member/help/withdraw}">Withdrawal your Account</a>
    </div>
</body>
</html>