<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/common :: html-head}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h1>Your Profile</h1>
        <a sec:authorize="hasRole('ROLE_USER')" id="btn-logout" th:href="@{~/member/logout}">Logout</a>
        <a sec:authorize="hasRole('ROLE_USER')" id="btn-change" th:href="@{~/member/support/password}">Change your Password</a>
        <a sec:authorize="hasRole('ROLE_USER')" id="btn-withdraw">Withdrawal your Account</a>
    </div>

    <script>
        $(function () {
            $('#btn-withdraw').click(function() {
                withdraw();
            });
        });

        function withdraw() {
            let answer = confirm('Really want withdraw?');

            if(answer) {
                location.replace('/member/support/withdraw');
            }
        }

        //th:href="@{~/member/help/withdraw}"
    </script>
</body>
</html>